## **Statewise forest data-2013**

In [3]:
import pandas as pd

In [107]:
data_1=pd.read_excel('data_1.xlsx')

First look of data

In [108]:
data_1

              State/ Uts Geographical Area  ... Change percent   Scrub
0         Andhra Pradesh          2,75,069  ...          -0.10  10,465
1      Arunachal Pradesh            83,743  ...          -0.11     121
2                  Assam            78,438  ...           0.00     182
3                  Bihar            94,163  ...           0.47     115
4           Chhattisgarh          1,35,191  ...          -0.04     117
5                  Delhi             1,483  ...           0.24    2.24
6                    Goa             3,702  ...           0.00       0
7                Gujarat          1,96,022  ...           0.02   1,492
8                Haryana            44,212  ...          -0.05     150
9       Himachal Pradesh            55,673  ...           0.01     298
10    Jammu and Kashmir*          2,22,236  ...           0.00   2,105
11             Jharkhand            79,714  ...           0.62     670
12             Karnataka          1,91,791  ...          -0.03   3,216
13                Kerala            38,863  ...           1.60      29
14       #Madhya Pradesh          3,08,245  ...          -0.06   6,389
15           Maharashtra          3,07,713  ...           0.00   4,157
16               Manipur            22,327  ...          -0.45       1
17             Meghalaya            22,429  ...           0.06     372
18               Mizoram            21,081  ...          -0.30       0
19              Nagaland            16,579  ...          -1.65       2
20                Odisha          1,55,707  ...           0.93   4,424
21                Punjab            50,362  ...           0.02      37
22             Rajasthan          3,42,239  ...           0.00   4,211
23                Sikkim             7,096  ...          -0.01     311
24            Tamil Nadu          1,30,058  ...           0.17   1,212
25               Tripura            10,486  ...          -1.06      66
26         Uttar Pradesh          2,40,928  ...           0.00     806
27           Uttarakhand            53,483  ...           0.02     262
28         # West Bengal            88,752  ...           4.29     111
29           A&N Islands             8,249  ...          -0.16      57
30            Chandigarh               114  ...           0.23    0.56
31  Dadra & Nagar Haveli               491  ...           0.41       1
32           Daman & Diu                12  ...           2.92    0.96
33           Lakshadweep                32  ...           0.19       0
34            Puducherry               480  ...           0.01       0
35           Grand Total         32,87,263  ...           0.18  41,383

[36 rows x 10 columns]

In [ ]:
data_1.dtypes

State/ Uts                                object
Geographical Area                         object
2013 Assessment - Very Dense Forest       object
2013 Assessment - Mod. Dense Forest       object
2013 Assessment - Open Forest Forest      object
2013 Assessment - Total Forest Forest     object
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
Scrub                                     object
dtype: object

In [ ]:
data_2=data_1.iloc[:,:]

In [ ]:
data_2

              State/ Uts Geographical Area  ... Change percent   Scrub
0         Andhra Pradesh          2,75,069  ...          -0.10  10,465
1      Arunachal Pradesh            83,743  ...          -0.11     121
2                  Assam            78,438  ...           0.00     182
3                  Bihar            94,163  ...           0.47     115
4           Chhattisgarh          1,35,191  ...          -0.04     117
5                  Delhi             1,483  ...           0.24    2.24
6                    Goa             3,702  ...           0.00       0
7                Gujarat          1,96,022  ...           0.02   1,492
8                Haryana            44,212  ...          -0.05     150
9       Himachal Pradesh            55,673  ...           0.01     298
10    Jammu and Kashmir*          2,22,236  ...           0.00   2,105
11             Jharkhand            79,714  ...           0.62     670
12             Karnataka          1,91,791  ...          -0.03   3,216
13                Kerala            38,863  ...           1.60      29
14       #Madhya Pradesh          3,08,245  ...          -0.06   6,389
15           Maharashtra          3,07,713  ...           0.00   4,157
16               Manipur            22,327  ...          -0.45       1
17             Meghalaya            22,429  ...           0.06     372
18               Mizoram            21,081  ...          -0.30       0
19              Nagaland            16,579  ...          -1.65       2
20                Odisha          1,55,707  ...           0.93   4,424
21                Punjab            50,362  ...           0.02      37
22             Rajasthan          3,42,239  ...           0.00   4,211
23                Sikkim             7,096  ...          -0.01     311
24            Tamil Nadu          1,30,058  ...           0.17   1,212
25               Tripura            10,486  ...          -1.06      66
26         Uttar Pradesh          2,40,928  ...           0.00     806
27           Uttarakhand            53,483  ...           0.02     262
28         # West Bengal            88,752  ...           4.29     111
29           A&N Islands             8,249  ...          -0.16      57
30            Chandigarh               114  ...           0.23    0.56
31  Dadra & Nagar Haveli               491  ...           0.41       1
32           Daman & Diu                12  ...           2.92    0.96
33           Lakshadweep                32  ...           0.19       0
34            Puducherry               480  ...           0.01       0
35           Grand Total         32,87,263  ...           0.18  41,383

[36 rows x 10 columns]

In [ ]:
data_2['Geographical Area']=data_2['Geographical Area'].str.replace(',','')
data_2['2013 Assessment - Very Dense Forest']=data_2['2013 Assessment - Very Dense Forest'].str.replace(',','')
data_2['2013 Assessment - Mod. Dense Forest']=data_2['2013 Assessment - Mod. Dense Forest'].str.replace(',', '')
data_2['2013 Assessment - Open Forest Forest']=data_2['2013 Assessment - Open Forest Forest'].str.replace(',','')
data_2['2013 Assessment - Total Forest Forest']=data_2['2013 Assessment - Total Forest Forest'].str.replace(',','')

This data has combination of int and string in columns

In [ ]:
data_2

              State/ Uts Geographical Area  ... Change percent   Scrub
0         Andhra Pradesh            275069  ...          -0.10  10,465
1      Arunachal Pradesh             83743  ...          -0.11     121
2                  Assam             78438  ...           0.00     182
3                  Bihar             94163  ...           0.47     115
4           Chhattisgarh            135191  ...          -0.04     117
5                  Delhi              1483  ...           0.24    2.24
6                    Goa              3702  ...           0.00       0
7                Gujarat            196022  ...           0.02   1,492
8                Haryana             44212  ...          -0.05     150
9       Himachal Pradesh             55673  ...           0.01     298
10    Jammu and Kashmir*            222236  ...           0.00   2,105
11             Jharkhand             79714  ...           0.62     670
12             Karnataka            191791  ...          -0.03   3,216
13                Kerala             38863  ...           1.60      29
14       #Madhya Pradesh            308245  ...          -0.06   6,389
15           Maharashtra            307713  ...           0.00   4,157
16               Manipur             22327  ...          -0.45       1
17             Meghalaya             22429  ...           0.06     372
18               Mizoram             21081  ...          -0.30       0
19              Nagaland             16579  ...          -1.65       2
20                Odisha            155707  ...           0.93   4,424
21                Punjab             50362  ...           0.02      37
22             Rajasthan            342239  ...           0.00   4,211
23                Sikkim              7096  ...          -0.01     311
24            Tamil Nadu            130058  ...           0.17   1,212
25               Tripura             10486  ...          -1.06      66
26         Uttar Pradesh            240928  ...           0.00     806
27           Uttarakhand             53483  ...           0.02     262
28         # West Bengal             88752  ...           4.29     111
29           A&N Islands              8249  ...          -0.16      57
30            Chandigarh               NaN  ...           0.23    0.56
31  Dadra & Nagar Haveli               NaN  ...           0.41       1
32           Daman & Diu               NaN  ...           2.92    0.96
33           Lakshadweep               NaN  ...           0.19       0
34            Puducherry               NaN  ...           0.01       0
35           Grand Total           3287263  ...           0.18  41,383

[36 rows x 10 columns]

In [6]:
data_4=data_1.iloc[30:35, :]

In [7]:
data_4

              State/ Uts Geographical Area  ... Change percent Scrub
30            Chandigarh               114  ...           0.23  0.56
31  Dadra & Nagar Haveli               491  ...           0.41     1
32           Daman & Diu                12  ...           2.92  0.96
33           Lakshadweep                32  ...           0.19     0
34            Puducherry               480  ...           0.01     0

[5 rows x 10 columns]

In [11]:
data_4['2013 Assessment - Very Dense Forest']=data_4['2013 Assessment - Very Dense Forest'].astype(float)
data_4['2013 Assessment - Mod. Dense Forest']=data_4['2013 Assessment - Mod. Dense Forest'].astype(float)
data_4['2013 Assessment - Open Forest Forest']=data_4['2013 Assessment - Open Forest Forest'].astype(float)
data_4['2013 Assessment - Total Forest Forest']=data_4['2013 Assessment - Total Forest Forest'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
data_4['Geographical Area']=data_4['Geographical Area'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
data_4['Scrub']=data_4['Scrub'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
data_4.drop(columns='Scrub', axis =1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
data_4.dtypes

State/ Uts                                object
Geographical Area                          int64
2013 Assessment - Very Dense Forest      float64
2013 Assessment - Mod. Dense Forest      float64
2013 Assessment - Open Forest Forest     float64
2013 Assessment - Total Forest Forest    float64
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
dtype: object

In [56]:
data_4['Scrub']=data_4['Scrub'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
type(k)

pandas.core.series.Series

In [13]:
data_5=data_1.iloc[0:30,:]

In [66]:
data_5

            State/ Uts  Geographical Area  ...  Change percent    Scrub
0       Andhra Pradesh             275069  ...           -0.10  10465.0
1    Arunachal Pradesh              83743  ...           -0.11      NaN
2                Assam              78438  ...            0.00      NaN
3                Bihar              94163  ...            0.47      NaN
4         Chhattisgarh             135191  ...           -0.04      NaN
5                Delhi               1483  ...            0.24      NaN
6                  Goa               3702  ...            0.00      NaN
7              Gujarat             196022  ...            0.02   1492.0
8              Haryana              44212  ...           -0.05      NaN
9     Himachal Pradesh              55673  ...            0.01      NaN
10  Jammu and Kashmir*             222236  ...            0.00   2105.0
11           Jharkhand              79714  ...            0.62      NaN
12           Karnataka             191791  ...           -0.03   3216.0
13              Kerala              38863  ...            1.60      NaN
14     #Madhya Pradesh             308245  ...           -0.06   6389.0
15         Maharashtra             307713  ...            0.00   4157.0
16             Manipur              22327  ...           -0.45      NaN
17           Meghalaya              22429  ...            0.06      NaN
18             Mizoram              21081  ...           -0.30      NaN
19            Nagaland              16579  ...           -1.65      NaN
20              Odisha             155707  ...            0.93   4424.0
21              Punjab              50362  ...            0.02      NaN
22           Rajasthan             342239  ...            0.00   4211.0
23              Sikkim               7096  ...           -0.01      NaN
24          Tamil Nadu             130058  ...            0.17   1212.0
25             Tripura              10486  ...           -1.06      NaN
26       Uttar Pradesh             240928  ...            0.00      NaN
27         Uttarakhand              53483  ...            0.02      NaN
28       # West Bengal              88752  ...            4.29      NaN
29         A&N Islands               8249  ...           -0.16      NaN

[30 rows x 10 columns]

In [16]:
data_5['Geographical Area']=data_5['Geographical Area'].str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
data_5['Geographical Area']=data_5['Geographical Area'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
data_5.dtypes

State/ Uts                                object
Geographical Area                          int64
2013 Assessment - Very Dense Forest      float64
2013 Assessment - Mod. Dense Forest      float64
2013 Assessment - Open Forest Forest     float64
2013 Assessment - Total Forest Forest    float64
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
dtype: object

In [30]:
data_5['2013 Assessment - Very Dense Forest']=[850,20828,1444,247,4153,6.76,543,376,27,3224,4140,2587,1777,1529,6632,8720,728,449,138,1298,7042,0,72,500,2948,109,1623,4785,2971,3754]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
data_1['2013 Assessment - Mod. Dense Forest'][21]

736

In [34]:
data_5.at[5,'2013 Assessment - Mod. Dense Forest']='49.38'

In [38]:
data_5.at[6,'2013 Assessment - Mod. Dense Forest']='585'
data_5.at[8,'2013 Assessment - Mod. Dense Forest']='453'
data_5.at[21,'2013 Assessment - Mod. Dense Forest']='736'

In [39]:
data_5['2013 Assessment - Mod. Dense Forest']=data_5['2013 Assessment - Mod. Dense Forest'].str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
data_5['2013 Assessment - Mod. Dense Forest']=data_5['2013 Assessment - Mod. Dense Forest'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
data_1['2013 Assessment - Open Forest Forest'][29]

544

In [48]:
data_5.at[5,'2013 Assessment - Open Forest Forest']='123.67'
data_5.at[6,'2013 Assessment - Open Forest Forest']='1091'
data_5.at[23,'2013 Assessment - Open Forest Forest']='697'
data_5.at[29,'2013 Assessment - Open Forest Forest']='544'

In [52]:
data_5['2013 Assessment - Open Forest Forest']=data_5['2013 Assessment - Open Forest Forest'].str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
data_5['2013 Assessment - Open Forest Forest']=data_5['2013 Assessment - Open Forest Forest'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
data_5['Scrub']=data_5['Scrub'].str.replace(',','').astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
data_1['2013 Assessment - Total Forest Forest'][6]

2219

In [62]:
data_5.at[5,'2013 Assessment - Total Forest Forest']='179.81'
data_5.at[6,'2013 Assessment - Total Forest Forest']='2219'

In [63]:
data_5['2013 Assessment - Total Forest Forest']=data_5['2013 Assessment - Total Forest Forest'].str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
data_5['2013 Assessment - Total Forest Forest']=data_5['2013 Assessment - Total Forest Forest'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
data_5.drop(columns='Scrub',axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [72]:
data_4.to_csv('data_4.csv')
data_5.to_csv('data_5.csv')

In [73]:
o=pd.concat([data_5,data_4],ignore_index=True)

In [74]:
o

              State/ Uts  ...  Change percent
0         Andhra Pradesh  ...           -0.10
1      Arunachal Pradesh  ...           -0.11
2                  Assam  ...            0.00
3                  Bihar  ...            0.47
4           Chhattisgarh  ...           -0.04
5                  Delhi  ...            0.24
6                    Goa  ...            0.00
7                Gujarat  ...            0.02
8                Haryana  ...           -0.05
9       Himachal Pradesh  ...            0.01
10    Jammu and Kashmir*  ...            0.00
11             Jharkhand  ...            0.62
12             Karnataka  ...           -0.03
13                Kerala  ...            1.60
14       #Madhya Pradesh  ...           -0.06
15           Maharashtra  ...            0.00
16               Manipur  ...           -0.45
17             Meghalaya  ...            0.06
18               Mizoram  ...           -0.30
19              Nagaland  ...           -1.65
20                Odisha  ...            0.93
21                Punjab  ...            0.02
22             Rajasthan  ...            0.00
23                Sikkim  ...           -0.01
24            Tamil Nadu  ...            0.17
25               Tripura  ...           -1.06
26         Uttar Pradesh  ...            0.00
27           Uttarakhand  ...            0.02
28         # West Bengal  ...            4.29
29           A&N Islands  ...           -0.16
30            Chandigarh  ...            0.23
31  Dadra & Nagar Haveli  ...            0.41
32           Daman & Diu  ...            2.92
33           Lakshadweep  ...            0.19
34            Puducherry  ...            0.01

[35 rows x 9 columns]

In [75]:
o.dtypes

State/ Uts                                object
Geographical Area                          int64
2013 Assessment - Very Dense Forest      float64
2013 Assessment - Mod. Dense Forest      float64
2013 Assessment - Open Forest Forest     float64
2013 Assessment - Total Forest Forest    float64
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
dtype: object

In [91]:
data_1['Scrub'][23]

311

In [92]:
data_1.at[0,'Scrub']=10465
data_1.at[7,'Scrub']=1492
data_1.at[10,'Scrub']=2105
data_1.at[12,'Scrub']=3216
data_1.at[14,'Scrub']=6389
data_1.at[15,'Scrub']=4157
data_1.at[20,'Scrub']=4424
data_1.at[22,'Scrub']=4211
data_1.at[24,'Scrub']=1212

In [99]:
data_1.dtypes

State/ Uts                                object
Geographical Area                         object
2013 Assessment - Very Dense Forest       object
2013 Assessment - Mod. Dense Forest       object
2013 Assessment - Open Forest Forest      object
2013 Assessment - Total Forest Forest     object
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
Scrub                                     object
dtype: object

In [104]:
data_1['Scrub']=data_1['Scrub'].str.replace(',','')

In [97]:
data_1['Scrub']=data_1['Scrub'].str.replace(',','')

In [112]:
data_1['Scrub']=[10465,121,182,115,117,2.24,0,1492,150,298,2105,670,3216,29,6389,4157,1,372,0,2,4424,37,4211,311,1212,66,806,262,111,57,0.56,1,0.96,0,0,41383]

In [113]:
data_1.dtypes

State/ Uts                                object
Geographical Area                         object
2013 Assessment - Very Dense Forest       object
2013 Assessment - Mod. Dense Forest       object
2013 Assessment - Open Forest Forest      object
2013 Assessment - Total Forest Forest     object
Percent of Geographical Area             float64
Change in Forest Cover wrt ISFR 2011     float64
Change percent                           float64
Scrub                                    float64
dtype: object

In [114]:
o['Scrub']=data_1['Scrub']

Final data

In [115]:
o

              State/ Uts  Geographical Area  ...  Change percent     Scrub
0         Andhra Pradesh             275069  ...           -0.10  10465.00
1      Arunachal Pradesh              83743  ...           -0.11    121.00
2                  Assam              78438  ...            0.00    182.00
3                  Bihar              94163  ...            0.47    115.00
4           Chhattisgarh             135191  ...           -0.04    117.00
5                  Delhi               1483  ...            0.24      2.24
6                    Goa               3702  ...            0.00      0.00
7                Gujarat             196022  ...            0.02   1492.00
8                Haryana              44212  ...           -0.05    150.00
9       Himachal Pradesh              55673  ...            0.01    298.00
10    Jammu and Kashmir*             222236  ...            0.00   2105.00
11             Jharkhand              79714  ...            0.62    670.00
12             Karnataka             191791  ...           -0.03   3216.00
13                Kerala              38863  ...            1.60     29.00
14       #Madhya Pradesh             308245  ...           -0.06   6389.00
15           Maharashtra             307713  ...            0.00   4157.00
16               Manipur              22327  ...           -0.45      1.00
17             Meghalaya              22429  ...            0.06    372.00
18               Mizoram              21081  ...           -0.30      0.00
19              Nagaland              16579  ...           -1.65      2.00
20                Odisha             155707  ...            0.93   4424.00
21                Punjab              50362  ...            0.02     37.00
22             Rajasthan             342239  ...            0.00   4211.00
23                Sikkim               7096  ...           -0.01    311.00
24            Tamil Nadu             130058  ...            0.17   1212.00
25               Tripura              10486  ...           -1.06     66.00
26         Uttar Pradesh             240928  ...            0.00    806.00
27           Uttarakhand              53483  ...            0.02    262.00
28         # West Bengal              88752  ...            4.29    111.00
29           A&N Islands               8249  ...           -0.16     57.00
30            Chandigarh                114  ...            0.23      0.56
31  Dadra & Nagar Haveli                491  ...            0.41      1.00
32           Daman & Diu                 12  ...            2.92      0.96
33           Lakshadweep                 32  ...            0.19      0.00
34            Puducherry                480  ...            0.01      0.00

[35 rows x 10 columns]

In [116]:
o.at[28,'State/ Uts']='West Bengal'
o.at[14,'State/ Uts']='Madhya Pradesh'
o.at[10,'State/ Uts']='Jammu and Kashmir'

In [117]:
o.head()

          State/ Uts  Geographical Area  ...  Change percent    Scrub
0     Andhra Pradesh             275069  ...           -0.10  10465.0
1  Arunachal Pradesh              83743  ...           -0.11    121.0
2              Assam              78438  ...            0.00    182.0
3              Bihar              94163  ...            0.47    115.0
4       Chhattisgarh             135191  ...           -0.04    117.0

[5 rows x 10 columns]

Converting the DataFrame to csv

In [118]:
o.to_csv('Statewise Forest data of 2013.csv')