In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt
from sklearn.impute import SimpleImputer

In [2]:
df =  pd.read_csv("https://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/Agriculture_Pattern_India.csv")

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,S.No.,Classification,1950-51,1990-91,2000-01,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,(P),(P),(P),(P),(P),(P)
2,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11)
3,I.,Geographical Area,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73
4,II.,Reporting Area for Land Utilisation Statistics,284.32,304.86,305.19,307.41,307.48,307.39,307.49,307.80,307.82
5,NaN,1(1. Ftoo r5e)st,40.48,67.81,69.84,71.56,71.59,71.60,71.57,71.83,71.79
6,NaN,2. Not Available for Cultivation (A+B),47.52,40.48,41.23,43.33,43.58,43.53,43.58,43.86,43.88
7,NaN,(A) Area Under Non-agricultural Uses,9.36,21.09,23.75,26.16,26.40,26.31,26.50,26.91,26.88
8,NaN,(B) Barren & Un-culturable Land,38.16,19.39,17.48,17.18,17.18,17.22,17.07,16.95,17.00
9,NaN,3. Other Uncultivated land excluding Fallow,49.45,30.22,27.74,26.50,26.15,26.11,26.08,25.83,25.83
10,NaN,(A) Permanent Pasture & other Grazing Land,6.68,11.40,10.66,10.34,10.30,10.31,10.26,10.26,10.26
11,NaN,(B) Land under Miscellaneous Tree Crops &,19.83,3.82,3.44,3.21,3.20,3.16,3.18,3.19,3.10
12,NaN,(C) Culturable Waste Land,22.94,15.00,13.63,12.95,12.65,12.64,12.64,12.39,12.47
13,NaN,4. Fallow Lands (A+B),28.12,23.37,25.04,26.85,24.60,25.18,26.32,24.85,26.18
14,NaN,(A) Fallow Lands other than Current Fallows,17.45,9.66,10.27,10.84,10.32,10.67,11.04,10.69,11.09
15,NaN,(B) Current Fallows,10.68,13.70,14.78,16.01,14.28,14.51,15.29,14.15,15.09
16,NaN,5. Net Area Sown (6-7),118.75,143.00,141.34,139.17,141.56,140.98,139.94,141.43,140.13
17,NaN,6. Total Cropped Area (Gross Cropped Area),131.89,185.74,185.34,189.19,197.68,195.80,194.25,200.95,198.36
18,NaN,7. Area Sown more than once,13.15,42.74,44.00,50.02,56.12,54.82,54.31,59.52,58.23
19,NaN,8. Cropping Intensity*,111.07,129.89,131.13,135.94,139.64,138.88,138.81,142.09,141.55
20,NaN,Net Irrigated Area,20.85,48.02,55.20,61.94,63.67,65.71,66.29,68.12,68.38
21,NaN,Gross Irrigated Area,22.56,63.20,76.19,85.09,88.94,91.79,92.25,95.77,96.46

In [4]:
df.shape

(22, 11)

In [5]:
df.drop(columns ='Unnamed: 0', inplace = True )

In [6]:
df.columns = ['Classification','1950-51','1990-91','2000-01','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15']

In [7]:
df

,Classification,1950-51,1990-91,2000-01,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
0,Classification,1950-51,1990-91,2000-01,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(P),(P),(P),(P),(P),(P)
2,(2),(3),(4),(5),(6),(7),(8),(9),(10),(11)
3,Geographical Area,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73
4,Reporting Area for Land Utilisation Statistics,284.32,304.86,305.19,307.41,307.48,307.39,307.49,307.80,307.82
5,1(1. Ftoo r5e)st,40.48,67.81,69.84,71.56,71.59,71.60,71.57,71.83,71.79
6,2. Not Available for Cultivation (A+B),47.52,40.48,41.23,43.33,43.58,43.53,43.58,43.86,43.88
7,(A) Area Under Non-agricultural Uses,9.36,21.09,23.75,26.16,26.40,26.31,26.50,26.91,26.88
8,(B) Barren & Un-culturable Land,38.16,19.39,17.48,17.18,17.18,17.22,17.07,16.95,17.00
9,3. Other Uncultivated land excluding Fallow,49.45,30.22,27.74,26.50,26.15,26.11,26.08,25.83,25.83
10,(A) Permanent Pasture & other Grazing Land,6.68,11.40,10.66,10.34,10.30,10.31,10.26,10.26,10.26
11,(B) Land under Miscellaneous Tree Crops &,19.83,3.82,3.44,3.21,3.20,3.16,3.18,3.19,3.10
12,(C) Culturable Waste Land,22.94,15.00,13.63,12.95,12.65,12.64,12.64,12.39,12.47
13,4. Fallow Lands (A+B),28.12,23.37,25.04,26.85,24.60,25.18,26.32,24.85,26.18
14,(A) Fallow Lands other than Current Fallows,17.45,9.66,10.27,10.84,10.32,10.67,11.04,10.69,11.09
15,(B) Current Fallows,10.68,13.70,14.78,16.01,14.28,14.51,15.29,14.15,15.09
16,5. Net Area Sown (6-7),118.75,143.00,141.34,139.17,141.56,140.98,139.94,141.43,140.13
17,6. Total Cropped Area (Gross Cropped Area),131.89,185.74,185.34,189.19,197.68,195.80,194.25,200.95,198.36
18,7. Area Sown more than once,13.15,42.74,44.00,50.02,56.12,54.82,54.31,59.52,58.23
19,8. Cropping Intensity*,111.07,129.89,131.13,135.94,139.64,138.88,138.81,142.09,141.55
20,Net Irrigated Area,20.85,48.02,55.20,61.94,63.67,65.71,66.29,68.12,68.38
21,Gross Irrigated Area,22.56,63.20,76.19,85.09,88.94,91.79,92.25,95.77,96.46

In [8]:
df.drop(labels = [0,1,2],inplace = True)

In [9]:
df.dtypes

Classification    object
1950-51           object
1990-91           object
2000-01           object
2009-10           object
2010-11           object
2011-12           object
2012-13           object
2013-14           object
2014-15           object
dtype: object

An object datatype might make it difficult for the data visualization team and model building team to work on the data, so let us convert it into a workable datatype

In [10]:
df['1950-51']=df['1950-51'].astype(float)
df['1990-91']=df['1990-91'].astype(float)
df['2000-01']=df['2000-01'].astype(float)
df['2009-10']=df['2009-10'].astype(float)
df['2010-11']=df['2010-11'].astype(float)
df['2011-12']=df['2011-12'].astype(float)
df['2012-13']=df['2012-13'].astype(float)
df['2013-14']=df['2013-14'].astype(float)
df['2014-15']=df['2014-15'].astype(float)

In [11]:
df.dtypes

Classification     object
1950-51           float64
1990-91           float64
2000-01           float64
2009-10           float64
2010-11           float64
2011-12           float64
2012-13           float64
2013-14           float64
2014-15           float64
dtype: object

In [12]:
df.isnull().sum()

Classification    0
1950-51           0
1990-91           0
2000-01           0
2009-10           0
2010-11           0
2011-12           0
2012-13           0
2013-14           0
2014-15           0
dtype: int64

There seem to be no null values

In [13]:
df

,Classification,1950-51,1990-91,2000-01,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
3,Geographical Area,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73,328.73
4,Reporting Area for Land Utilisation Statistics,284.32,304.86,305.19,307.41,307.48,307.39,307.49,307.80,307.82
5,1(1. Ftoo r5e)st,40.48,67.81,69.84,71.56,71.59,71.60,71.57,71.83,71.79
6,2. Not Available for Cultivation (A+B),47.52,40.48,41.23,43.33,43.58,43.53,43.58,43.86,43.88
7,(A) Area Under Non-agricultural Uses,9.36,21.09,23.75,26.16,26.40,26.31,26.50,26.91,26.88
8,(B) Barren & Un-culturable Land,38.16,19.39,17.48,17.18,17.18,17.22,17.07,16.95,17.00
9,3. Other Uncultivated land excluding Fallow,49.45,30.22,27.74,26.50,26.15,26.11,26.08,25.83,25.83
10,(A) Permanent Pasture & other Grazing Land,6.68,11.40,10.66,10.34,10.30,10.31,10.26,10.26,10.26
11,(B) Land under Miscellaneous Tree Crops &,19.83,3.82,3.44,3.21,3.20,3.16,3.18,3.19,3.10
12,(C) Culturable Waste Land,22.94,15.00,13.63,12.95,12.65,12.64,12.64,12.39,12.47
13,4. Fallow Lands (A+B),28.12,23.37,25.04,26.85,24.60,25.18,26.32,24.85,26.18
14,(A) Fallow Lands other than Current Fallows,17.45,9.66,10.27,10.84,10.32,10.67,11.04,10.69,11.09
15,(B) Current Fallows,10.68,13.70,14.78,16.01,14.28,14.51,15.29,14.15,15.09
16,5. Net Area Sown (6-7),118.75,143.00,141.34,139.17,141.56,140.98,139.94,141.43,140.13
17,6. Total Cropped Area (Gross Cropped Area),131.89,185.74,185.34,189.19,197.68,195.80,194.25,200.95,198.36
18,7. Area Sown more than once,13.15,42.74,44.00,50.02,56.12,54.82,54.31,59.52,58.23
19,8. Cropping Intensity*,111.07,129.89,131.13,135.94,139.64,138.88,138.81,142.09,141.55
20,Net Irrigated Area,20.85,48.02,55.20,61.94,63.67,65.71,66.29,68.12,68.38
21,Gross Irrigated Area,22.56,63.20,76.19,85.09,88.94,91.79,92.25,95.77,96.46

For our project, we will exclusively be analysing data from 2009-2019 , therefore let us drop the columns from the year : 1950 -2001

In [14]:
df.drop(columns = ['1950-51','1990-91','2000-01'],inplace=True)

In [15]:
df

,Classification,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
3,Geographical Area,328.73,328.73,328.73,328.73,328.73,328.73
4,Reporting Area for Land Utilisation Statistics,307.41,307.48,307.39,307.49,307.80,307.82
5,1(1. Ftoo r5e)st,71.56,71.59,71.60,71.57,71.83,71.79
6,2. Not Available for Cultivation (A+B),43.33,43.58,43.53,43.58,43.86,43.88
7,(A) Area Under Non-agricultural Uses,26.16,26.40,26.31,26.50,26.91,26.88
8,(B) Barren & Un-culturable Land,17.18,17.18,17.22,17.07,16.95,17.00
9,3. Other Uncultivated land excluding Fallow,26.50,26.15,26.11,26.08,25.83,25.83
10,(A) Permanent Pasture & other Grazing Land,10.34,10.30,10.31,10.26,10.26,10.26
11,(B) Land under Miscellaneous Tree Crops &,3.21,3.20,3.16,3.18,3.19,3.10
12,(C) Culturable Waste Land,12.95,12.65,12.64,12.64,12.39,12.47
13,4. Fallow Lands (A+B),26.85,24.60,25.18,26.32,24.85,26.18
14,(A) Fallow Lands other than Current Fallows,10.84,10.32,10.67,11.04,10.69,11.09
15,(B) Current Fallows,16.01,14.28,14.51,15.29,14.15,15.09
16,5. Net Area Sown (6-7),139.17,141.56,140.98,139.94,141.43,140.13
17,6. Total Cropped Area (Gross Cropped Area),189.19,197.68,195.80,194.25,200.95,198.36
18,7. Area Sown more than once,50.02,56.12,54.82,54.31,59.52,58.23
19,8. Cropping Intensity*,135.94,139.64,138.88,138.81,142.09,141.55
20,Net Irrigated Area,61.94,63.67,65.71,66.29,68.12,68.38
21,Gross Irrigated Area,85.09,88.94,91.79,92.25,95.77,96.46

In [18]:
df.at[5,'Classification']='Forest'
df.at[6,'Classification']='Not Available for Cultivation (Area Under Non-agricultural Uses +Barren & Un-culturable Land)'
df.at[7,'Classification']=' Area Under Non-agricultural Uses'
df.at[8,'Classification']='Barren & Un-culturable Land'
df.at[9,'Classification']='Other Uncultivated land excluding Fallow(Permanent Pasture & other Grazing Land+Land under Miscellaneous Tree Crops+Culturable Waste Land)'
df.at[10,'Classification']=' Permanent Pasture & other Grazing Land'
df.at[11,'Classification']='Land under Miscellaneous Tree Crops '
df.at[12,'Classification']='Culturable Waste Land'
df.at[13,'Classification']='. Fallow Lands (Fallow Lands other than Current Fallows+Current Fallows)'
df.at[14,'Classification']='. Fallow Lands other than Current Fallows'
df.at[15,'Classification']='. Current Fallows'
df.at[16,'Classification']='.  Net Area Sown '
df.at[17,'Classification']='. Total Cropped Area (Gross Cropped Area)'
df.at[18,'Classification']='. Area Sown more than once	'
df.at[19,'Classification']='. Cropping Intensity'
df

,Classification,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15
3,Geographical Area,328.73,328.73,328.73,328.73,328.73,328.73
4,Reporting Area for Land Utilisation Statistics,307.41,307.48,307.39,307.49,307.80,307.82
5,Forest,71.56,71.59,71.60,71.57,71.83,71.79
6,Not Available for Cultivation (Area Under Non-...,43.33,43.58,43.53,43.58,43.86,43.88
7,Area Under Non-agricultural Uses,26.16,26.40,26.31,26.50,26.91,26.88
8,Barren & Un-culturable Land,17.18,17.18,17.22,17.07,16.95,17.00
9,Other Uncultivated land excluding Fallow(Perma...,26.50,26.15,26.11,26.08,25.83,25.83
10,Permanent Pasture & other Grazing Land,10.34,10.30,10.31,10.26,10.26,10.26
11,Land under Miscellaneous Tree Crops,3.21,3.20,3.16,3.18,3.19,3.10
12,Culturable Waste Land,12.95,12.65,12.64,12.64,12.39,12.47
13,. Fallow Lands (Fallow Lands other than Curren...,26.85,24.60,25.18,26.32,24.85,26.18
14,. Fallow Lands other than Current Fallows,10.84,10.32,10.67,11.04,10.69,11.09
15,. Current Fallows,16.01,14.28,14.51,15.29,14.15,15.09
16,. Net Area Sown,139.17,141.56,140.98,139.94,141.43,140.13
17,. Total Cropped Area (Gross Cropped Area),189.19,197.68,195.80,194.25,200.95,198.36
18,. Area Sown more than once\t,50.02,56.12,54.82,54.31,59.52,58.23
19,. Cropping Intensity,135.94,139.64,138.88,138.81,142.09,141.55
20,Net Irrigated Area,61.94,63.67,65.71,66.29,68.12,68.38
21,Gross Irrigated Area,85.09,88.94,91.79,92.25,95.77,96.46

In [19]:
df.to_csv("Agricultural_Trends(2009-2015)")