In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_excel('https://github.com/sg-008/Data-of-Indian-Forests/raw/main/Co2%20emission%20total%202001-18.xlsx')

In [20]:
df

   Air and GHG emissionsCarbon dioxide (CO2), Tonnes/capita, 2001 – 2018  ... Unnamed: 6
0                                            LOCATION                     ...      Value
1                                                 IND                     ...        0.8
2                                                 IND                     ...        0.9
3                                                 IND                     ...        0.9
4                                                 IND                     ...        0.9
5                                                 IND                     ...        0.9
6                                                 IND                     ...          1
7                                                 IND                     ...        1.1
8                                                 IND                     ...        1.1
9                                                 IND                     ...        1.2
10                                                IND                     ...        1.3
11                                                IND                     ...        1.3
12                                                IND                     ...        1.4
13                                                IND                     ...        1.5
14                                                IND                     ...        1.6
15                                                IND                     ...        1.6
16                                                IND                     ...        1.6
17                                                IND                     ...        1.6
18                                                IND                     ...        1.7

[19 rows x 7 columns]

In [21]:
print(list(df))

['Air and GHG emissionsCarbon dioxide (CO2), Tonnes/capita, 2001 – 2018', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

In [22]:
df=df.drop(['Unnamed: 4'], axis = 1)

In [23]:
df=df.drop(labels=0,axis=0)

In [24]:
df.columns=['Location','Indicator','Subject','Measure','Year','Value']

In [25]:
df

   Location    Indicator Subject    Measure  Year Value
1       IND  AIREMISSION     CO2  TONNE_CAP  2001   0.8
2       IND  AIREMISSION     CO2  TONNE_CAP  2002   0.9
3       IND  AIREMISSION     CO2  TONNE_CAP  2003   0.9
4       IND  AIREMISSION     CO2  TONNE_CAP  2004   0.9
5       IND  AIREMISSION     CO2  TONNE_CAP  2005   0.9
6       IND  AIREMISSION     CO2  TONNE_CAP  2006     1
7       IND  AIREMISSION     CO2  TONNE_CAP  2007   1.1
8       IND  AIREMISSION     CO2  TONNE_CAP  2008   1.1
9       IND  AIREMISSION     CO2  TONNE_CAP  2009   1.2
10      IND  AIREMISSION     CO2  TONNE_CAP  2010   1.3
11      IND  AIREMISSION     CO2  TONNE_CAP  2011   1.3
12      IND  AIREMISSION     CO2  TONNE_CAP  2012   1.4
13      IND  AIREMISSION     CO2  TONNE_CAP  2013   1.5
14      IND  AIREMISSION     CO2  TONNE_CAP  2014   1.6
15      IND  AIREMISSION     CO2  TONNE_CAP  2015   1.6
16      IND  AIREMISSION     CO2  TONNE_CAP  2016   1.6
17      IND  AIREMISSION     CO2  TONNE_CAP  2017   1.6
18      IND  AIREMISSION     CO2  TONNE_CAP  2018   1.7

In [26]:
df.reset_index(drop=True,inplace=True)

In [27]:
df['Value']=df['Value'].astype(float)

In [28]:
df

   Location    Indicator Subject    Measure  Year  Value
0       IND  AIREMISSION     CO2  TONNE_CAP  2001    0.8
1       IND  AIREMISSION     CO2  TONNE_CAP  2002    0.9
2       IND  AIREMISSION     CO2  TONNE_CAP  2003    0.9
3       IND  AIREMISSION     CO2  TONNE_CAP  2004    0.9
4       IND  AIREMISSION     CO2  TONNE_CAP  2005    0.9
5       IND  AIREMISSION     CO2  TONNE_CAP  2006    1.0
6       IND  AIREMISSION     CO2  TONNE_CAP  2007    1.1
7       IND  AIREMISSION     CO2  TONNE_CAP  2008    1.1
8       IND  AIREMISSION     CO2  TONNE_CAP  2009    1.2
9       IND  AIREMISSION     CO2  TONNE_CAP  2010    1.3
10      IND  AIREMISSION     CO2  TONNE_CAP  2011    1.3
11      IND  AIREMISSION     CO2  TONNE_CAP  2012    1.4
12      IND  AIREMISSION     CO2  TONNE_CAP  2013    1.5
13      IND  AIREMISSION     CO2  TONNE_CAP  2014    1.6
14      IND  AIREMISSION     CO2  TONNE_CAP  2015    1.6
15      IND  AIREMISSION     CO2  TONNE_CAP  2016    1.6
16      IND  AIREMISSION     CO2  TONNE_CAP  2017    1.6
17      IND  AIREMISSION     CO2  TONNE_CAP  2018    1.7

In [29]:
df.to_csv('co2_2001_to_2018.csv')