In [24]:
import pandas as pd
import numpy as np

In [25]:
def import_file():
  x=input("insert the url")
  y=input("is it csv or excel")
  if y=='csv':
    z=pd.read_csv(x)
    return z
  elif y=='excel':
    z=pd.read_excel(x)
    return z
  else:
    print("select again csv or excel !!!")

In [26]:
import_file()

insert the urlhttps://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/Total%20No.%20of%20mines%20statewise.csv
is it csv or excelcsv

                                             MINING  ... Unnamed: 28
0   Table 15.1 - NUMBER OF REPORTING MINES IN INDIA  ...         NaN
1                                               NaN  ...         NaN
2                                               NaN  ...         NaN
3                                               NaN  ...         NaN
4                                             STATE  ...         NaN
5                                               NaN  ...         NaN
6                                                 1  ...         NaN
7                                               NaN  ...         NaN
8                                    Andhra Pradesh  ...         NaN
9                                 Arunachal Pradesh  ...         NaN
10                                            Assam  ...         NaN
11                                            Bihar  ...         NaN
12                                     Chhattisgarh  ...         NaN
13                                              Goa  ...         NaN
14                                         Gujarat   ...         NaN
15                                          Haryana  ...         NaN
16                                 Himachal Pradesh  ...         NaN
17                                  Jammu & Kashmir  ...         NaN
18                                        Jharkhand  ...         NaN
19                                        Karnataka  ...         NaN
20                                           Kerala  ...         NaN
21                                   Madhya Pradesh  ...         NaN
22                                      Maharashtra  ...         NaN
23                                          Manipur  ...         NaN
24                                        Meghalaya  ...         NaN
25                                           Odisha  ...         NaN
26                                        Rajasthan  ...         NaN
27                                           Sikkim  ...         NaN
28                                       Tamil Nadu  ...         NaN
29                                        Telangana  ...         NaN
30                                    Uttar Pradesh  ...         NaN
31                                      Uttarakhand  ...         NaN
32                                      West Bengal  ...         NaN
33                                Total No of Mines  ...         NaN

[34 rows x 29 columns]

In [27]:
z=pd.read_csv('https://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/Total%20No.%20of%20mines%20statewise.csv')

In [28]:
z

                                             MINING  ... Unnamed: 28
0   Table 15.1 - NUMBER OF REPORTING MINES IN INDIA  ...         NaN
1                                               NaN  ...         NaN
2                                               NaN  ...         NaN
3                                               NaN  ...         NaN
4                                             STATE  ...         NaN
5                                               NaN  ...         NaN
6                                                 1  ...         NaN
7                                               NaN  ...         NaN
8                                    Andhra Pradesh  ...         NaN
9                                 Arunachal Pradesh  ...         NaN
10                                            Assam  ...         NaN
11                                            Bihar  ...         NaN
12                                     Chhattisgarh  ...         NaN
13                                              Goa  ...         NaN
14                                         Gujarat   ...         NaN
15                                          Haryana  ...         NaN
16                                 Himachal Pradesh  ...         NaN
17                                  Jammu & Kashmir  ...         NaN
18                                        Jharkhand  ...         NaN
19                                        Karnataka  ...         NaN
20                                           Kerala  ...         NaN
21                                   Madhya Pradesh  ...         NaN
22                                      Maharashtra  ...         NaN
23                                          Manipur  ...         NaN
24                                        Meghalaya  ...         NaN
25                                           Odisha  ...         NaN
26                                        Rajasthan  ...         NaN
27                                           Sikkim  ...         NaN
28                                       Tamil Nadu  ...         NaN
29                                        Telangana  ...         NaN
30                                    Uttar Pradesh  ...         NaN
31                                      Uttarakhand  ...         NaN
32                                      West Bengal  ...         NaN
33                                Total No of Mines  ...         NaN

[34 rows x 29 columns]

In [29]:
z.dropna(axis=1, how='all', inplace=True)

In [30]:
z.dropna(axis=0, how ='all', inplace=True)

In [31]:
z

                                             MINING  ...  Unnamed: 7
0   Table 15.1 - NUMBER OF REPORTING MINES IN INDIA  ...         NaN
2                                               NaN  ...         NaN
4                                             STATE  ...         NaN
5                                               NaN  ...  2015-16(P)
6                                                 1  ...           8
8                                    Andhra Pradesh  ...         135
9                                 Arunachal Pradesh  ...           1
10                                            Assam  ...           7
11                                            Bihar  ...           1
12                                     Chhattisgarh  ...         162
13                                              Goa  ...          77
14                                         Gujarat   ...         225
15                                          Haryana  ...           0
16                                 Himachal Pradesh  ...          17
17                                  Jammu & Kashmir  ...          10
18                                        Jharkhand  ...         211
19                                        Karnataka  ...         146
20                                           Kerala  ...           8
21                                   Madhya Pradesh  ...         274
22                                      Maharashtra  ...         134
23                                          Manipur  ...           0
24                                        Meghalaya  ...          16
25                                           Odisha  ...         157
26                                        Rajasthan  ...          76
27                                           Sikkim  ...           0
28                                       Tamil Nadu  ...         252
29                                        Telangana  ...          83
30                                    Uttar Pradesh  ...           6
31                                      Uttarakhand  ...           3
32                                      West Bengal  ...         100
33                                Total No of Mines  ...        2101

[31 rows x 8 columns]

In [32]:
z.reset_index(drop=True, inplace=True)

In [35]:
z.columns=z.iloc[3]
z.head()

3                                              NaN  ...  2015-16(P)
0  Table 15.1 - NUMBER OF REPORTING MINES IN INDIA  ...         NaN
1                                              NaN  ...         NaN
2                                            STATE  ...         NaN
3                                              NaN  ...  2015-16(P)
4                                                1  ...           8

[5 rows x 8 columns]

In [38]:
z.rename(columns={np.nan:'NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total'},inplace=True)

In [39]:
z.drop(labels=[0,1,2,3,4], axis=0,inplace = True)
z.reset_index(drop=True, inplace=True)

In [40]:
z

3  NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total  ... 2015-16(P)
0                                      Andhra Pradesh                    ...        135
1                                   Arunachal Pradesh                    ...          1
2                                               Assam                    ...          7
3                                               Bihar                    ...          1
4                                        Chhattisgarh                    ...        162
5                                                 Goa                    ...         77
6                                            Gujarat                     ...        225
7                                             Haryana                    ...          0
8                                    Himachal Pradesh                    ...         17
9                                     Jammu & Kashmir                    ...         10
10                                          Jharkhand                    ...        211
11                                          Karnataka                    ...        146
12                                             Kerala                    ...          8
13                                     Madhya Pradesh                    ...        274
14                                        Maharashtra                    ...        134
15                                            Manipur                    ...          0
16                                          Meghalaya                    ...         16
17                                             Odisha                    ...        157
18                                          Rajasthan                    ...         76
19                                             Sikkim                    ...          0
20                                         Tamil Nadu                    ...        252
21                                          Telangana                    ...         83
22                                      Uttar Pradesh                    ...          6
23                                        Uttarakhand                    ...          3
24                                        West Bengal                    ...        100
25                                  Total No of Mines                    ...       2101

[26 rows x 8 columns]

In [42]:
p=z['NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total']

In [43]:
o= z.drop(columns='NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total', axis=0)

In [47]:
o=o.astype(float)

In [50]:
o.dtypes

3
2009-10       float64
2010-11       float64
2011-12       float64
2012-13       float64
2013-14*      float64
2014-15       float64
2015-16(P)    float64
dtype: object

In [51]:
o['NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total']=p

In [52]:
o

3   2009-10  ...  NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total
0     456.0  ...                                     Andhra Pradesh
1       1.0  ...                                  Arunachal Pradesh
2      11.0  ...                                              Assam
3       6.0  ...                                              Bihar
4     152.0  ...                                       Chhattisgarh
5      75.0  ...                                                Goa
6     446.0  ...                                           Gujarat
7       0.0  ...                                            Haryana
8      26.0  ...                                   Himachal Pradesh
9      11.0  ...                                    Jammu & Kashmir
10    299.0  ...                                          Jharkhand
11    233.0  ...                                          Karnataka
12     30.0  ...                                             Kerala
13    287.0  ...                                     Madhya Pradesh
14    158.0  ...                                        Maharashtra
15      0.0  ...                                            Manipur
16      9.0  ...                                          Meghalaya
17    221.0  ...                                             Odisha
18    289.0  ...                                          Rajasthan
19      0.0  ...                                             Sikkim
20    175.0  ...                                         Tamil Nadu
21      NaN  ...                                          Telangana
22     25.0  ...                                      Uttar Pradesh
23     34.0  ...                                        Uttarakhand
24    112.0  ...                                        West Bengal
25   3055.0  ...                                  Total No of Mines

[26 rows x 8 columns]

In [53]:
o.to_csv('NUMBER OF REPORTING MINES IN INDIA w.r.t STATE of All Minerals Total.csv')