In [169]:
import pandas as pd
import numpy as np

In [170]:
df1=pd.read_excel('https://github.com/sg-008/Data-of-Indian-Forests/blob/main/Urbanization,Wildfire,ShiftingAgriculture%20(2).xlsx?raw=true')
df2=pd.read_excel('https://github.com/sg-008/Data-of-Indian-Forests/blob/main/Urbanization,Wildfire,ShiftingAgriculture%20(2).xlsx?raw=true',sheet_name=1)
df3=pd.read_excel('https://github.com/sg-008/Data-of-Indian-Forests/blob/main/Urbanization,Wildfire,ShiftingAgriculture%20(2).xlsx?raw=true',sheet_name=2)

In [171]:
df1

   tsc_tree_cover_loss_drivers__type  ...  umd_tree_cover_loss__ha
0                       Urbanization  ...                95.197462
1                       Urbanization  ...                65.719179
2                       Urbanization  ...                38.388491
3                       Urbanization  ...                64.675238
4                       Urbanization  ...                77.171413
5                       Urbanization  ...                94.835536
6                       Urbanization  ...               137.896558
7                       Urbanization  ...               123.399841
8                       Urbanization  ...               102.954980
9                       Urbanization  ...               117.184057
10                      Urbanization  ...               182.143598
11                      Urbanization  ...               194.174444
12                      Urbanization  ...               110.762100
13                      Urbanization  ...               221.608177
14                      Urbanization  ...                84.127408
15                      Urbanization  ...               216.494923
16                      Urbanization  ...               186.737217
17                      Urbanization  ...               158.278898
18                      Urbanization  ...               135.021831
19                      Urbanization  ...               173.255480

[20 rows x 3 columns]

In [172]:
df2

   tsc_tree_cover_loss_drivers__type  ...  umd_tree_cover_loss__ha
0                           Wildfire  ...               149.024431
1                           Wildfire  ...               108.430583
2                           Wildfire  ...               114.027430
3                           Wildfire  ...               230.537896
4                           Wildfire  ...               180.562392
5                           Wildfire  ...               189.214360
6                           Wildfire  ...               192.882031
7                           Wildfire  ...               119.050670
8                           Wildfire  ...               140.812699
9                           Wildfire  ...                70.715204
10                          Wildfire  ...                66.331185
11                          Wildfire  ...               133.526580
12                          Wildfire  ...               145.305744
13                          Wildfire  ...               128.965834
14                          Wildfire  ...               122.321238
15                          Wildfire  ...               252.618498
16                          Wildfire  ...               450.238078
17                          Wildfire  ...               210.839701
18                          Wildfire  ...               134.808931
19                          Wildfire  ...               178.424941

[20 rows x 3 columns]

In [173]:
df3

   tsc_tree_cover_loss_drivers__type  ...  umd_tree_cover_loss__ha
0               Shifting agriculture  ...              7110.184005
1               Shifting agriculture  ...              7528.989108
2               Shifting agriculture  ...              6974.420396
3               Shifting agriculture  ...             10657.994010
4               Shifting agriculture  ...              9473.534674
5               Shifting agriculture  ...             13037.019500
6               Shifting agriculture  ...             15899.366350
7               Shifting agriculture  ...             18078.520850
8               Shifting agriculture  ...             16445.569530
9               Shifting agriculture  ...              8316.685416
10              Shifting agriculture  ...             20159.775890
11              Shifting agriculture  ...             14360.320700
12              Shifting agriculture  ...              7431.788704
13              Shifting agriculture  ...             14271.252640
14              Shifting agriculture  ...              7891.903854
15              Shifting agriculture  ...             13380.488660
16              Shifting agriculture  ...             22952.779990
17              Shifting agriculture  ...             17010.497050
18              Shifting agriculture  ...             18877.681640
19              Shifting agriculture  ...             19060.082430

[20 rows x 3 columns]

In [174]:
for j in range(0,20):   #checked if all number data are in int/float, and they are
  c=type(df3['umd_tree_cover_loss__ha'][j])
  print(c)

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [175]:
df1.to_csv('Tree_cover_loss_Urbanisation.csv')
df2.to_csv('Tree_cover_loss_Wildfire.csv')
df3.to_csv('Tree_cover_loss_Shifting_agri.csv')